<app-table-form
        title="Registered Clients"
        image="fa fa-user"
        [viewDetails]="false"
        [hideAdd]="true"
>
  <ng-container ngProjectAs="table">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div *ngIf="!location_loading">
            <app-card-filter [start_date]="startDate" [end_date]="endDate" (reportFilter)="updateCards($event)"></app-card-filter>
          </div>
        </div>
      </div>
    </div>


    <div class="grid-container">
      <mat-grid-list cols="1" rowHeight="470px">
        <mat-grid-tile [ngClass]="routeAnimationsElements" [colspan]="1" [rowspan]="1">
          <div class="col">
            <h4>Registered Users from {{start_date | date:'mediumDate' }} to {{ end_date | date:'mediumDate' }} </h4>

            <button (click)="exportexcel('summary-table', 'Summary Issued Services By Teams.xlsx')" mat-raised-button class="pull-right no-print">
              <img src="assets/img/csv.png" style="height: 26px">
            </button>
            <button (click)="print()" mat-raised-button class="pull-right no-print" style="margin-right: 5px">
              <img src="assets/img/print.png" style="height: 26px">
            </button>

            <table class="table table-bordered" id='summary-table'>
              <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Phone Number</th>
              </tr>
              <tr *ngFor="let data of values">
                <td>{{ data.first_name }} {{ data.middle_name }} {{data.last_name }}</td>
                <td>{{ data.gender }}</td>
                <td>{{ data.phoone_number }}</td>
              </tr>
            </table>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-container>
</app-table-form>

