<app-table-form
  title="Superset Analytics"
  image="line-chart"
  [viewDetails]="false"
  [hideAdd]="true"
>

  <ng-container ngProjectAs="table">

<p>Apache Superset (incubating) is a modern, enterprise-ready business intelligence web application.</p>
<ul>
<li>A rich set of data visualizations</li>
<li>An easy-to-use interface for exploring and visualizing data</li>
<li>Create and share dashboards</li>
<li>Enterprise-ready authentication with integration with major authentication providers (database, OpenID, LDAP, OAuth & REMOTE_USER through Flask AppBuilder)</li>
<li>An extensible, high-granularity security/permission model allowing intricate rules on who can access individual features and the dataset</li>
<li>A simple semantic layer, allowing users to control how data sources are displayed in the UI by defining which fields should show up in which drop-down 
and which aggregation and function metrics are made available to the user</li>
<li>Integration with most SQL-speaking RDBMS through SQLAlchemy</li>
<li>Deep integration with Druid.io</li>
</ul>

<p><u>Check the next tab to use Superset</u></p>

  </ng-container>
</app-table-form>